workflow/写标书-导出word.yml
app:
  description: 写标书最后一步，导出文件
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 写标书-导出word
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: stvlynn/doc:0.0.1@900d82963e63c505136dfc77f3e06329326e714ca66bed668224e811f73efc7b
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1765879667110-source-1765879681813-target
      source: '1765879667110'
      sourceHandle: source
      target: '1765879681813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1765879681813-source-1765879676394-target
      source: '1765879681813'
      sourceHandle: source
      target: '1765879676394'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 标书内容
          max_length: 1000000
          options: []
          required: false
          type: paragraph
          variable: content
      height: 90
      id: '1765879667110'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1765879681813'
          - files
          variable: files
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1765879676394'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The Markdown content to be converted to Word document
            ja_JP: Word ドキュメントに変換する Markdown コンテンツ
            pt_BR: O conteúdo Markdown a ser convertido para documento Word
            zh_Hans: 要转换为Word文档的Markdown内容
          label:
            en_US: Markdown Content
            ja_JP: Markdown コンテンツ
            pt_BR: Conteúdo Markdown
            zh_Hans: Markdown内容
          llm_description: The Markdown content that will be converted to a Word document
          max: null
          min: null
          name: markdown_content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The title of the Word document
            ja_JP: Word ドキュメントのタイトル
            pt_BR: O título do documento Word
            zh_Hans: Word文档的标题
          label:
            en_US: Document Title
            ja_JP: ドキュメントタイトル
            pt_BR: Título do Documento
            zh_Hans: 文档标题
          llm_description: The title that will be displayed at the top of the Word
            document
          max: null
          min: null
          name: title
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          markdown_content: ''
          title: ''
        provider_id: stvlynn/doc/doc
        provider_name: stvlynn/doc/doc
        provider_type: builtin
        selected: true
        title: Markdown转DOCX转换器
        tool_configurations: {}
        tool_description: 将Markdown内容转换为DOCX（Word）文档
        tool_label: Markdown转DOCX转换器
        tool_name: markdown_to_docx_converter
        tool_parameters:
          markdown_content:
            type: mixed
            value: '{{#sys.user_id#}}'
          title:
            type: mixed
            value: 标书
        type: tool
      height: 54
      id: '1765879681813'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
